.calculator {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

}

.estimation {
    font-size: 1.7rem;
    margin: 2rem 0;
    color: white;
    align-self: flex-start;
}

.button {
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    height:30px;
    transition: background-color 0.25s ease-out;
    
}

.buttonActive {
    color: orange;
    background-color: gray;
    font-weight: bold;
}