.contact {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  width: 100%;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact h4 {
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px black;
}

.form {
  margin-top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outlined-basic-label {
    color: white
}

.ldsdualring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsdualring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
